@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');

.container {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.box{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 35px;
    height: 900px;
    width: 600px;
}

.imgQr{
    border: none;
    border-radius: 35px;
    margin-top: 10px;
}
.para{
    font-family: 'Outfit', sans-serif;
    font-size:30px ;
    color: gray;
    width: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.text{
    font-family:'Outfit', sans-serif;
    font-weight: bold;
    font-size: 45px;
    width:550px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.btn{
    background-color:hsl(0, 0%, 40%);
    color: hsl(212, 45%, 89%);
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 10px;
    top: 10px;
}
a:link{
    text-decoration: none;
}
a {
    color: hsl(212, 45%, 89%);
}