@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500;700&display=swap');
body{

    background-color: hsl(212, 45%, 89%);
    width: 1440px;
    height: 1280px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

}
.box{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border: none;
    border-radius: 35px;
    height: 900px;
    width: 600px;
    margin-left: 1700px;
    margin-top: 290px;
    position: fixed;

}
.imgQr{
    border: none;
    border-radius: 35px;
    margin-top: 10px;

    
}
.para{
    font-family: 'Outfit', sans-serif;
    font-size:30px ;
    color: gray;
    width: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.text{
    font-family:'Outfit', sans-serif;
    font-weight: bold;
    font-size: 45px;
    width:550px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.btn{
    background-color:hsl(0, 0%, 40%);
    color: hsl(212, 45%, 89%);
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: -670px;
    margin-top:-590px;
    
}
a:link{
    text-decoration: none;
}
a{
    color: hsl(212, 45%, 89%);

}
.body2{

    background-color:hsl(0, 0%, 40%);
    width: 1440px;
    height: 1280px;
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;

}
.box2{
    background-color: hsl(0, 0%, 10%);
    padding: 20px;
    border: none;
    border-radius: 35px;
    height: 900px;
    width: 600px;
    margin-left: 1700px;
    margin-top: 290px;
    position: fixed;
    
}
.imgQr2{
    border: none;
    border-radius: 35px;
    margin-top:10px ;

    
}
.para2{
    font-family: 'Outfit', sans-serif;
    font-size:30px ;
    color: gray;
    width: 500px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}
.text2{
    color: azure;
    font-family:'Outfit', sans-serif;
    font-weight: bold;
    font-size: 45px;
    width:550px ;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}
.btn2{
    background-color: hsl(212, 45%, 89%);
    color: hsl(212, 45%, 89%);
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: -670px;
    margin-top:-590px;
    
}
.a2{
    color:hsl(0, 0%, 40%) ;
}